@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body,
html {
  height: 100vh;
}

html,
* {
  cursor: none;
}

body {
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}
body.dark::before {
  background-image: url("/image/Bitmap-dark.jpg");
}
body::before {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/image/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: -1;
  content: "";
}

.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 20px;
  box-sizing: content-box;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.bottom {
  min-height: 500px;
}
.bottom__txt {
  color: #9495a5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.19px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.feedback__shadow {
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.custom-checkbox {
  color: #9495a5;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  height: 64px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.custom-checkbox:hover .custom-checkbox__delete {
  display: block;
}
.custom-checkbox__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.custom-checkbox__delete {
  display: none;
}
.custom-checkbox--done .custom-checkbox__text {
  text-decoration: line-through;
  color: #d1d2da;
}
.custom-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox input[type=checkbox]:checked + .custom-checkbox__checkmark::before {
  display: none;
}
.custom-checkbox input[type=checkbox]:checked + .custom-checkbox__checkmark::after {
  display: block;
}
.custom-checkbox input[type=checkbox]:checked + .custom-checkbox__checkmark {
  background: linear-gradient(#55ddff, #c058f3);
}
.custom-checkbox__text {
  color: #494c6b;
}
.custom-checkbox__text input[type=text] {
  height: 18px;
  color: #393a4b;
}
.custom-checkbox__text input[type=text]::placeholder {
  color: #9495a5;
}
.custom-checkbox__checkmark {
  position: relative;
  height: 24px;
  width: 24px;
  background-color: #e3e4f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-checkbox__checkmark:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  border-radius: 50%;
}
.custom-checkbox__checkmark:after {
  content: "";
  display: none;
  background-image: url("/image/feedback/Path.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 9px;
}
.custom-checkbox__checkmark:hover {
  background: linear-gradient(#55ddff, #c058f3);
}

.list {
  max-height: 384px;
  border-radius: 5px;
  overflow: auto;
  background-color: #fafafa;
  border-bottom: 1px solid #e3e4f1;
  display: flex;
  flex-direction: column;
}
.list > label {
  border-bottom: 1px solid #e3e4f1;
}
.list > label:last-of-type {
  border-bottom: none;
}

.filtr {
  min-height: 64px;
  border-radius: 5px;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.filtr__grid a {
  color: #9495a5;
}
.filtr__grid a:hover {
  color: #494c6b;
}
.filtr__grid-txt {
  padding-left: 30px;
}
.filtr__grid-nav ul {
  display: flex;
  gap: 10px;
}

.input {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

/* Основные стили кастомного курсора */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference; /* Для контраста на любом фоне */
}

.cursor-circle {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.cursor-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Эффект при наведении на интерактивные элементы */
.custom-cursor.active .cursor-circle {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}