//fonts
$font-main: "Josefin Sans", sans-serif;

//colors
$feedback: #fafafa;
$white: #ffff;
$dark: #494c6b;
$grey: #9495a5;
$inputText: #393a4b;
$inputTextPlacehokder: #9495a5;
$formClick: #d1d2da;
$border: #e3e4f1;
$line: #d1d2da;
