.bottom {
  min-height: 500px;
  &__txt {
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.19px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
}
