.custom-checkbox {
  color: $grey;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  height: 64px;
  background-color: $feedback;

  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    .custom-checkbox__delete {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__delete {
    display: none;
  }

  &--done {
    .custom-checkbox__text {
      text-decoration: line-through;
      color: $line;
    }
  }

  & input[type="checkbox"] {
    display: none;

    &:checked {
      & + .custom-checkbox__checkmark::before {
        display: none;
      }

      & + .custom-checkbox__checkmark::after {
        display: block;
      }

      & + .custom-checkbox__checkmark {
        background: linear-gradient(#55ddff, #c058f3);
      }
    }
  }

  &__text {
    color: $dark;
    input[type="text"] {
      height: 18px;
      color: $inputText;
      &::placeholder {
        color: $inputTextPlacehokder;
      }
    }
  }

  &__checkmark {
    position: relative;
    height: 24px;
    width: 24px;
    background-color: #e3e4f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      background-color: $white;
      border-radius: 50%;
    }

    &:after {
      content: "";
      display: none;
      background-image: url("/image/feedback/Path.svg");
      background-repeat: no-repeat;
      width: 11px;
      height: 9px;
    }

    &:hover {
      background: linear-gradient(#55ddff, #c058f3);
    }
  }
}
