.list {
  max-height: 384px;
  border-radius: 5px;
  overflow: auto;
  background-color: $feedback;
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: column;
  & > label {
    border-bottom: 1px solid $border;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
